<%= inline_edit_for 'js-lens-name' do |ie| %>
  <%= ie.primary do %>
    <p>
      <%= lens.name %>
    </p>
    <%= ie.link_to_toggle 'edit' %>
  <% end %>
  <%= ie.form do %>
    <%= form_with model: lens, url: lense_url(lens), method: :patch, remote: true do |f| %>
      <%= f.text_field :name %>
      <%= f.submit 'Update' %>
      <%= ie.link_to_toggle 'cancel' %>
    <% end -%>
  <% end -%>
<% end %>
